<div class="w3-display-container w3-animate-opacity">
  <%= image_tag 'img2.jpg', class: "image"%>
  <div class="w3-container w3-display-bottomleft w3-margin-bottom">  
    
      <%= link_to 'ShOp MoRe SaVe MoRe', items_path, class: "w3-button w3-xlarge w3-theme w3-hover-teal btn w3-bar-item w3-text-white" %> 
      
  </div>
</div>


<div class="w3-row-padding w3-padding-64 w3-white" id="work">
  <h2>Our Work</h2>
  <p>We Make the deals that SAVES your DAY and your MONEY.</p>
  
</div>
