@import "bootstrap-sprockets";

@import "bootstrap";

.image {
    width: 100%;
    min-height:350px;
    max-height:600px;
}

.btn {
    display: block;
}

.icon {
    padding: 0px 16px 5px 16px;
    
}

.form {
    width: 600px;
    margin: 50px 50px;
    //float: right;
}

.image1 {
    width: 450px;
    height: 250px;
}
